{% extends "main_app/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'number_recognition/styles.css' %}">

<div class="upload-container">
    <h1>Number recognition</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="file-input-container">
            <label for="image" class="file-label">Upload an image:</label>
            <input type="file" id="image" name="image" accept="image/*" class="file-input">
        </div>
        <button type="submit" class="submit-button">Recognize plate</button>
        <div id="loader" class="loader"></div>
    </form>
</div>

<script src="{% static 'number_recognition/js/number_recognition.js' %}"></script>

{% endblock %}




