version: '3.10'

services:
  postgres:
    image: postgres:12
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
  django:
    build:
      context: .
      dockerfile: docker/dev/Dockerfile
    image: django
    command: ["poetry", "run", "python", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - .:/app
    ports:
      - '8000:8000'
    env_file:
      - ./.env
    restart: unless-stopped