{% extends "main_app/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'users/styles.css' %}">

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">
            <h2 class="card-title">@{{user.username}}</h2>
            <h3 class="card-subtitle mb-3">Your plates:</h3>
            <ul class="list-group">
                {% for plate in plates %}
                <li class="list-group-item">
                    <a href="{% url 'users:manage_plate' plate.id %}" class="plate-link">{{ plate.plate }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<style>
    .card {
        border-radius: 15px;
    }

    .card-title {
        margin-left: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    .card-subtitle {
        margin-left: 20px;
        font-size: 20px;
        color: #6c757d;
    }

    .list-group-item {
        border: none;
    }

    .plate-link {
        color: #007BFF;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .plate-link:hover {
        color: #0056b3;
    }
</style>

{% endblock %}
