{% extends "main_app/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/styles.css' %}">
<h1>SignIn</h1>

<!-- Виводимо Flash сповіщення-->
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}

<!--Обробляємо помилки форми які не відносяться до полів -->
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {{ form.non_field_errors}}
</div>
{% endif %}

<div class="bd-example">
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control white-text" id="id_username">
        </div>
        <span>{{form.errors.username}}</span>
    </div>
    <div class="form-row">
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control white-text" id="id_password">
        </div>
        <span>{{form.errors.password}}</span>
    </div>
    <button type="submit" class="btn btn-primary">Sing In</button>
    <a href="/mainadmin/" class="button" style="margin-right: 10px;">Login as admin</a> <!-- Додано кнопку "Login as admin" -->
    <div class="small" style="padding-top: 15px;">
        <a href="{% url 'users:password_reset' %}">Forgot Password?</a>
    </div>
</form>
</div>
{% endblock %}
